/*styles for normalize*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*project styles*/
html {
    font-size: 18px;
    line-height: 1.2;
}

body {
    width: auto;
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    overflow: scroll;
    background: url(../images/bg_main.jpg) top left/200px 200px repeat;
}

.container {
    max-width: 629px;
    width: 100%;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
}


/*filter section*/
.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5em;
    gap: 0.1em;
}

.filter__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 1em;
}

.text__label {
    display: block;
    margin-bottom: 0.25em;
}

.text__input {
    width: 100%;
    height: 3em;
    display: block;
    padding: 0.375em 0.75em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    color: #964B00;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #5F3000;
    border-radius: 0.25em 0 0 0.25em;
    outline: none;
}

::-webkit-input-placeholder {
    color: #964B00;
    opacity: 0.5;
    font-size: 1rem;
}

::-moz-placeholder {
    color: #964B00;
    opacity: 0.5;
    font-size: 1rem;
}

:-ms-input-placeholder {
    color: #964B00;
    opacity: 0.5;
    font-size: 1rem;
}

::-ms-input-placeholder {
    color: #964B00;
    opacity: 0.5;
    font-size: 1rem;
}

::placeholder {
    color: #964B00;
    opacity: 0.5;
    font-size: 1rem;
}

.filter__button {
    background-color: #FFEFDF;
    border: 1px solid #5F3000;
    padding: 0.375em 0.75em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: inherit;
    font-size: inherit;
    height: 3em;
    border-radius: 0 0.25em 0.25em 0;
    cursor: pointer;
}

.filter__button:hover {
    background-color: #964B00;
    color: #FFFFFF;
}


/*cards section*/
.cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1em;
    grid-gap: 0.4em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card {
    width: 300px;
    border: 1px solid #964B00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1em;
    background-color: #FFEFDF;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-shadow: 0 0 0.5em #964B00;
    box-shadow: 0 0 0.5em #964B00;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.card_checked {
    background-color: #964B00;
}

.card__title {
    width: 100%;
    padding: 0.5em 0;
    margin-bottom: 1em;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 600;
}

.card__text {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.card_checked .card__title,
.card_checked .card__text {
    color: #FFFFFF;
}

.card__checkbox {
    width: 1.2em;
    position: relative;
    margin: 10px right;
}

.checkbox__label {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    border-radius: 0.2em;
    -webkit-box-shadow: inset 0px 1px 1px #FFFFFF, 0px 1px 3px #964B00;
    box-shadow: inset 0px 1px 1px #FFFFFF, 0px 1px 3px #964B00;
}

.checkbox__label:after {
    content: '';
    width: 0.6em;
    height: 0.3em;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    border: 3px solid #5f3000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox__label:hover::after {
    opacity: 0.5;
}

.checkbox__input {
    visibility: hidden;
}

.checkbox__input:checked+.checkbox__label:after {
    opacity: 1;
}


/*media queries for different screens*/
@media (min-width: 640px) {
    html {
        font-size: 17px;
    }

    .container {
        max-width: 959px;
    }

    .cards {
        -ms-grid-columns: 1fr 0.4em 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 965px) {
    html {
        font-size: 16px;
    }

    .cards {
        -ms-grid-columns: 1fr 0.4em 1fr 0.4em 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
}